/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}
i,
img {
  cursor: pointer;
}

::selection {
  color: coral;
  background-color: lightgreen;
}
